<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.propine.testdata.ReadExcelFromLib"/>
      <class name="com.propine.qa.test.LandingPageTest2"/>
      <class name="com.propine.qa.test.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
